<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
	   <servlet-name>security</servlet-name>
	   <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	   <init-param>
	       <param-name>contextConfigLocation</param-name>
	       <param-value>classpath:applicationContext*.xml</param-value>
	   </init-param>
	</servlet>
	<servlet-mapping>
	    <servlet-name>security</servlet-name>
	    <url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!-- 资源文件不通过spring mvn截获 -->
	<!-- 
	<servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    -->
    
    <filter> 
	    <filter-name>springSecurityFilterChain</filter-name> 
	    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class> 
	    <!-- 解决乱码问题 -->
	    <init-param> 
	        <param-name>encoding</param-name> 
	        <param-value>UTF-8</param-value> 
	    </init-param> 
	</filter> 
	<filter-mapping> 
	    <filter-name>springSecurityFilterChain</filter-name> 
	    <url-pattern>/*</url-pattern> 
	</filter-mapping>

</web-app>